body {
    font-family: "Audiowide";
    color: white;    
}

h1 {
    font-family: 'Audiowide', cursive;
    font-size: 3rem;    
    margin-top: 1.5rem; 
}

h2 {    
    font-size: 2rem;
    line-height: 5rem;
}

h5 {
    color:red;
}

#title {
    background-color: black;
    color: white;
}

#am-logo {
    max-width: 5rem;
}

.container{
    padding: 5%; 
}

.navbar {
    padding: 0 0 4.5rem;    
}

.navbar-brand {
    font-family: "Audiowide";
    position: absolute;
    margin-top: 3rem;
    margin-left: 3.5rem;    
}

.nav-item {
    padding: 0 18px;        
}

.nav-link {
    font-family: "Audiowide";
    font-size: 1.2rem;    
}

#navbarSupportedContent {
    margin-right: 4.5rem;    
}

.btn-div {
    margin: 5% 3% 5% 0;
}

.div-header {
    text-align: center;
}

.profile-picture {
    width: 60%;
    border-radius: 5%;
}

.profile-div {
    text-align: center;
}

#features {
    padding: 7%;
    background-color: #0C0D0D;    
    font-family: "Audiowide";
}

.feature-box {
    text-align: center;
    padding: 5%;
    color: white;
}

.icon {
    color: red;
    margin-bottom: 1rem;
}


/* Testimonial Section */
#testimonials {
    background-color: black;    
    text-align: center;    
}

.p-slides {    
    font-family: "Audiowide";
    font-size: 2rem;
    margin: 0px;    
    color : white;
}   

.slide-images {    
    width: 50%;
    margin: 10px;
}



/* FOOTER CSS */
#footContact {
    font-family: "Audiowide";
    background-color: #0C0D0D;    
}

.context-dark, .footer-classic a  {
    color: white;
}


/* efecto para los links y el contacto*/
ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;    
}


/* animacion de los links*/
.nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
    color: red;
}


.nav-list li a:before {
    content: "\2771";    /*UTF8 ICON*/
    font-size: 1.5rem;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;    
}


.copyRight {
    margin: 0;
    color: red;
    text-align: center;
}
